<div class="jumbotron text-center">
  <h2>My Beers</h2>
  <p>{{ tagline }}</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12" ng-repeat="myBeer in myBeers">
      <div class="thumbnail">
        <img src="{{myBeer.image}}" style="width:5%">
        <div class="caption">
         <h2><b>{{myBeer.name}}</b></h2>     
         <h5>First Brewed: {{myBeer.brewed}}</h5>     
          <h5><em>ABV: {{myBeer.abv}}</em></h5>

        </div>
        <p>
          <button type="button" class="btn btn-danger" ng-click="removeMyBeer(myBeer._id)">
        <span class="glyphicon glyphicon-trash"></span>
        </button>
        </p>
      </div>
    </div>
  </div>
</div>