<div class="jumbotron text-center">
  <h1>Beers</h1>
</div>
<div class="container">
  <div class="row">
    <p><input class='glyphicon glyphicon-search' size='106' type="text" placeholder='Search' ng-model="searchedData"></p>

    <div class="panel panel-default" data-ng-repeat="beer in beers | filter : searchedData" class="col-md-3">
      <img src="{{beer.image_url}}" width='100' height='100' >

      <b>{{ beer.name }}</b> 
      <p>
         {{beer.description}}
      </p>
      <div>
      <button class='glyphicon glyphicon-star' type="button" ng-click="addToDrink(beer)"></button>
      </div>
    </div>
  </div>
</div>